# MMC5983MA Kconfig

# Copyright (c) 2024 Oliver Neumann
# SPDX-License-Identifier: Apache-2.0

menuconfig MMC5983MA
	bool "MMC5983MA Three Axis Magnetometer"
	default y
	depends on DT_HAS_MEMSIC_MMC5983MA_ENABLED
	select I2C if $(dt_compat_on_bus,$(DT_COMPAT_MEMSIC_MMC5983MA),i2c)
	help
	  Enable support for the MMC5983MA Three Axis Magnetometer.